@use './variables' as *;

// About Section Styles in Home Page
.about {
    padding: 7% 0;
    .flexContainer {
        justify-content: flex-end;
        .aboutText {
            width: 53%;
            p { margin: 20px 0; }
        }
    }
}