@use './variables' as *;

// STRIPPING STYLES:
p,
nav,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
button,
input {
    margin: 0;
    padding: 0;
}

ul:not(.posts) { list-style: none; }

// GENERAL STYLES:

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.textImage,
.blogTwo img ,
.blogPageHeader img,
.contactHeader img { height: 100%; }

// Anchor Tags
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: 0.3s;
}

a, button { cursor: pointer; }

// Base 'Button' Styles for Anchor Tags
.btn {
    background-color: $accent;
    text-align: center;
    border: 3px solid transparent;

    &:hover,
    &:focus {
        background-color: $whiteShade;
        border: 3px solid $accent; 
    }

    // Styles For Big Button Anchor Tags
    &.bigButton { padding: 2px 32px; }
    
    // Styles For Small Button Anchor Tags
    &.smallButton { padding: 2px 20px; }
}

// Background Colours 
nav, .homeHeader, .icon { background-color: $primary; }

.about, 
.webLinks, 
.journeySection, 
.blogPageMain,
.contactMain { background-color: $whiteShade; }

.imgContainer, 
.blogText, 
.card, 
.article,
.contactInfoCard { background-color: $white; }

// Flexbox
.flexContainer { display: flex; }

.blogText, .form .flexContainer  { flex-direction: column; }

.webLinks ul, .gallery ul { flex-wrap: wrap; }

// Display: none
label[for="toggle"], input[type="checkbox"] { display: none; }

// Positioning 
.headerImgContainer, 
.headerTitle, 
.webLinks li, 
.imgContainer img,
.blogTitle,
.contactTitle { position: relative; }

.textImage, .icon, .blogTitle h2, .contactTitle h2 { position: absolute; }

// Forms Styles
.form {
    input, 
    textarea { 
        border: none; 

        &:focus { background: rgba($primary, 0.3); }
    } 

    input { padding: 25px 30px; }
    textarea {
        margin: 17px 0;
        padding: 35px 30px;
        resize: none;
    }
    button { padding: 7px; }
}