@use './variables' as *;

// STRIPPING STYLES:
p,
nav,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
button,
input {
    margin: 0;
    padding: 0;
}

ul:not(.posts) { list-style: none; }

// GENERAL STYLES:

// Wrapper
.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

// Images
img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

// Anchor Tags
a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: 0.3s;
}

a, button { cursor: pointer; }

// Base 'Button' Styles for Anchor Tags
.btn {
    background-color: $accent;
    text-align: center;
    border: 3px solid transparent;

    &:hover,
    &:focus {
        background-color: $whiteShade;
        border: 3px solid $accent; 
    }

    // Styles For Big Button Anchor Tags
    &.bigButton { padding: 2px 32px; }
    
    // Styles For Small Button Anchor Tags
    &.smallButton { padding: 2px 20px; }
}

// Background Colours 
nav, .homeHeader, .icon { background-color: $primary; }

.about, .webLinks, .journeySection { background-color: $whiteShade; }

// Flexbox
.flexContainer { display: flex; }

.blogText { flex-direction: column; }

.webLinks ul, .gallery ul { flex-wrap: wrap; }

// Display: none
label[for="toggle"], .toggle { display: none; }

// Positioning 
.headerImgContainer, .headerTitle, .webLinks li, .imgContainer img { position: relative; }

.textImage, .icon { position: absolute; }

