@use './variables' as *;

// BLOG SECTION OF HOME PAGE STYLES:

// Width of Img/Text Containers
.imgContainer, .blogText { width: calc(100% / 2); }

// Harper's Travels Blog Styles
.blogOne {
    img {
        bottom: 35px;
        box-shadow: 15px 15px $secondary, -100px 15px $secondary;
    }

    .blogOneText {
        padding: 70px 0 15px 95px;
        p { margin: 20px 0 25px; }
        .btn { align-self: flex-start; }
    }
}

// Favourite Things Blog Styles
.blogTwo {
    padding-top: 20px;
    .blogTwoText {
            padding: 30px 95px 20px 0;
            p { margin: 20px 0 25px; }
            .btn { align-self: flex-end; }
        }

    img {
        top: 25px;
        box-shadow: 15px 15px $primary, 100px 15px $primary;
    }
}