@use './variables' as *;

// BLOG PAGE STYLES:

// Blog Post Main Layout
.blogPageMain {
    padding: 80px 0 95px;

    .leftColumn {
        width: calc(33% - 1.5%);
        margin-right: 1.5%;
    }

    .rightColumn {
        width: calc(67% - 1.5%);
        margin-left: 1.5%;
    }
}

// .card Styles
.card { padding: 35px; }

// About Harper & Recent Posts Aside
.aboutHarper, .recentPosts { width: 100%; }

// About Harper Styles
.aboutHarper {
    margin-bottom: 15px;
    a {
        padding: 20px 0 15px;
        &:hover h5, &:focus h5 { color: $accent; }
    }
}

// Recent Posts Styles
.recentPosts {
    h5 { margin-bottom: 15px; }
    .posts { 
        padding-left: 25px;
        li {
            padding: 10px 0 0 8px; 
            line-height: 1rem;
        }
        a {
            display: inline;
            &:hover,
            &:focus { color: $accent; }
        }
    }
}

// Blog Article Styles
.article {
    padding-bottom: 30px;
    border-bottom: 4px solid $tertiary;
    margin-bottom: 2%;
    h4 { margin-bottom: 10px; }
    p { margin-bottom: 15px; }
}

// User Posted Comments Styles
.postedComments {
    .userPost {
        margin: 3.5% 0;
        img {
            width: calc(12% - 10px);
            margin-right: 10px;
        }
        .commentText {
            width: calc(88% - 10px);
            margin-left: 10px;
        }

        &:nth-child(even) { border-bottom: 4px solid $tertiary; }
    }
}

// Comment Form
.commentForm {
    input { width: calc((100% / 2) - 4px); }
    input[type="text"] { margin-right: 2px; }
    input[type="email"] { margin-left: 2px; }
}