@use './variables' as *;

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // .wrapper { width: 90%; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // Wrapper 
    // .wrapper { width: 95%; }

    // Main Blog Post
    .blogPostMain {
        .wrapper.flexContainer { flex-direction: column-reverse; }

        .leftColumn, 
        .rightColumn { 
            width: 100%;
            margin: 0;
        }

        .rightColumn {
            margin-bottom: 10%;
        }
    }

    .leftColumn { display: flex; }

    .aboutHarper {
        width: calc(50% - 2%);
        margin: 0 2% 0 0;

        img {
            width: 100%;
            height: 250px;
        }
    }

    .recentPosts { 
        width: calc(50% - 2%);
        margin-left: 2%; 
        height: 65%;
    }

    .postedComments {
        .userPost.flexContainer { flex-direction: column; }

        .userPost img { 
            width: 70px;
            margin: 0 0 15px 0; 
        }

        .userPost .commentText { 
            margin-left: 0; 
            width: 100%;
        }
    }

    // Comment Form:
    .commentForm {
        input {
            width: 100%;
        }

        input[type="text"] {
            margin: 5% 0 1.5% 0;
        }
        
        input[type="email"] {
            margin: 1.5% 0 0 0;
        }
    }

}



/* Small Break Point */
@media (max-width: 600px) {
    .leftColumn { flex-direction: column; }

    .aboutHarper,
    .recentPosts {
        width: 100%; 
    }

    .aboutHarper { margin: 0 0 2% 0; }
    .recentPosts { margin: 2% 0 0 0; }
}



/* Landscape phones and down */
@media (max-width: 480px) {}