@use './variables' as *;

.imgContainer,
.blogText {
    width: calc(100% / 2);
    background-color: $white;
}   

.blogOne {
    .blogOneImage {
        img {
            position: relative;
            bottom: 35px;
            box-shadow: 15px 15px $secondary,
            -100px 15px $secondary;
        }
        
    }
    .blogOneText {
        padding: 70px 0 20px 95px;
        p {
            margin: 20px 0 25px;
        }
        .btn {
            align-self: flex-start;
        }
    }
}

.blogTwo {
    .blogTwoText {
            padding: 50px 95px 20px 0;
            p {
                margin: 20px 0 25px;
            }
            .btn {
                align-self: flex-end;
            }
        }
    .blogTwoImage {
        img {
            position: relative;
            top: 25px;
            box-shadow: 15px 15px $secondary,
            100px 15px $secondary;
        }
    }
}