@use './variables' as *;

// CONTACT PAGE MEDIA QUERIES: 

/**************************************/
/* 1st BIG BREAK POINT:               */
/* Landscape Phone to Portrait Tablet */
/**************************************/
@media (max-width: 768px) {
    // Header
    .contactHeader h2 { font-size: 3rem; }
    
    // Contact Main Layout
    .contactMain {
        .wrapper.flexContainer { flex-direction: column-reverse; }
    
        // Contact Info-Card
        aside {
            width: 100%;
            margin: 6% 0 0 0;

            .contactInfoCard {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
        }
    }

    // Media Icon Links
    .mediaLinks.flexContainer {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;

        li {
            text-align: center;
            margin: 0;
        }
    }
    
    // Contact Form
    .contactForm {
        width: 100%;
        margin-left: 0;
    }
}

/**************************************/
/* 2nd BIG BREAK POINT:               */
/* Landscape Phones and Down          */
/**************************************/
@media (max-width: 480px) {
    // Header
    .contactHeader h2 { font-size: 2.5rem; }

    // Contact Main Layout
    .contactMain {
        padding: 50px 0 40px;

        // Contact Info-Card
        aside {
            .contactInfoCard {
                margin-top: 3%;
                padding: 45px 20px;
            }

            .emailBold {
                font-size: 0.86rem;
                margin: 7px 0;
            }

            .address {
                font-size: 0.76rem;
                line-height: 1.3rem;
            }
        }
    }
    
    // Contact Form
    .contactForm {
        input { 
            width: 100%; 
            padding: 15px 20px 30px;
        }
        input[type="text"] { margin: 0 0 3% 0; }
        input[type="email"] { margin-left: 0; }
        input, textarea { font-size: 0.78rem; }

        .flexContainer { textarea { padding: 20px 20px 45px; }
        }
    }
}

//**************************************/
/* 1st SMALL BREAK POINT              */
/**************************************/
@media (max-width: 350px) {
    .contactHeader h2 { font-size: 2.25rem; }
}