@use './variables' as *;

.gallery {
    ul {
        padding: 80px 0;
        li {
            width: calc((100% / 3) - 2%);
        }
        .img1 {
            margin-right: 2%;
        }

        .img2 {
            margin: 0 1%;
        }

        .img3 {
            margin-left: 2%;
        }
    }
}