@use './variables' as *;

.homeHeader {
    min-height: calc(80vh - 59px);
    background-color: $primary;

    .headerImgContainer {
        width: 40%;
        min-width: 300px;
        img {
            box-shadow: 16px 16px 0 $white;
            position: relative;
            top: 65px;
        }
    }

    .headerText {
        width: 425px;
        height: 145px;
        margin-top: 24%;
        margin-left: 7%;
        position: relative;

        .textImage {
            width: 150px;
            position: absolute;
            top: -40px;
            left: 320px;
        }
    }
}




