@use './variables' as *;

.contactHeader {
    background: url(../assets/contact-image-1.jpg) no-repeat center / cover;

    .wrapper {
        position: relative;
        min-height: calc(55vh - 66px);

        h2 {
            position: absolute;
            bottom: -35px;
        }
    }
}