@use './variables' as *;

// Blog Post Header Styles:

// .blogPostHeader { 
//     background-image: url(../assets/blog-image-1.jpg);
//     background-position: center bottom;
//     background-size: center;
//     background-repeat: no-repeat;
// }

.blogPageHeaderImage {
    height: auto;
    img { height: 100%; }
}

.blogTitle {
    position: relative;

    h2 {
        position: absolute;
        bottom: -35px;
    }
}