@use './variables' as *;

.homeHeader {
    min-height: calc(80vh - 66px);

    .headerImgContainer {
        width: 38%;
        min-width: 270px;

        img {
            box-shadow: 16px 16px 0 $white;
            position: relative;
            top: 10%;
        }
    }

    .headerText {
        margin: 22% 0 22% 7.5%;
        position: relative;

        .textImage {
            position: absolute;
            // top: -40px;
            // left: 325px;
            top: -30%;
            left: 76%;
        }
    }
}


// index2:

// .homeHeader {
//     min-height: calc(80vh - 66px);
// }

// .headerText {
//     display: inline-block;
//     margin-top: 15%;
//     margin-left: 45%;
//     position: relative;

//     .textImage {
//         position: absolute;
//         // top: -40px;
//         // left: 325px;
//         top: -30%;
//         left: 76%;
//     }
// }

