@use 'variables' as *;

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // Home Page Header
    .homeHeader {
        .headerImgContainer img {
            top: 15%; 
        }
        .headerText {
            margin: 18% 0 22% 7.5%;

            h2 {
                font-size: calc(5.5rem - 1vw);
            }

            .textImage {
                top: -27%;
                left: 74%;
            }
        }
    }
}

/* First Small Break Point */
@media (max-width: 800px) {
    // Home Page Header 
    .homeHeader {
        .headerImgContainer img {
            top: 20%;
        }
    
        .headerText {
            margin: 14% 0 22% 7.5%;

            h2 {
                font-size: calc(5.5rem - 1vw);
            }
    
            .textImage {
                top: -27%;
                left: 74%;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // Nav Slide-Out Menu //
    label[for="toggle"] {
        display: block;
        position: fixed;
        right: 7.5%;
        top: 10px;
        z-index: 10;

        i.fa-bars {
            font-size: 2rem;
            color: $tertiary;
        }
    }

    nav {
        line-height: 1.8rem;
        input[type="checkbox"]:checked+ul.slideOutMenu {
            right: 0px;
        }
    }
    
    ul.slideOutMenu {
        width: 58%;
        color: $whiteShade;
        background: $secondary;
        border: 3px solid $accent;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        right: -60%;
        top: 100px;
        z-index: 10;
        transition: all 0.6s;
    
        h1 {
            font-size: 2.3rem;
            line-height: 2.5rem;
        }

        li {
            width: 100%;
        }
    
        a {
            width: inherit;
            padding: 25px 0;
            font-size: 1.8rem;
            text-align: center;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
    
            &:hover,
            &:focus {
                background-color: $tertiary;
                border-top: 2px solid $primary;
                border-bottom: 2px solid $primary;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {}