@use 'variables' as *;

// Media Queries for Home Page

/**************************************/
/* 1st BIG BREAK POINT:               */
/* Portrait Tablet and Small Desktops */
/**************************************/
@media (max-width: 940px) {
    // Wrapper 
    .wrapper { width: 90%;}
    
    // HEADER: 
    .homeHeader {
        h2 { font-size: 5rem; }
        .textImage { height: 84%; }
        .headerImgContainer { margin-right: 12%; }
    }
}

/**************************************/
/* 2nd BIG BREAK POINT:               */
/* Landscape Phone to Portrait Tablet */
/**************************************/
@media (max-width: 768px) {
    // WRAPPER: 
    .wrapper { width: 95%; }

    // NAV SLIDE OUT MENU:
    .toggle {
        display: block;
        position: fixed;
        right: 2.5%;
        top: 10px;
        z-index: 10;
    }

    #menu {
        width: 100vw;
        height: 100vh;
        background: #68b0c1;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 9;
        transition: all 1s ease-in-out;
        padding-top: 45px;

        h1 { font-size: 2rem; }
        
        li, a { width: inherit; }
        
        li {
            margin-right: 0;
            height: 20%;
            max-height: 100px;

            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding-left: 60px;
                font-size: 1.8rem;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;

                &:hover,
                &:focus {
                    background-color: #227284;
                    border-top: 2px solid #f6f6f6;
                    border-bottom: 2px solid #f6f6f6;
                }
            }
        }
    }
    
    #menu.slideOut {
        left: 0;
        transition: all 1s ease-in-out;
    }

    // HEADER:
    .homeHeader {
        h2 { font-size: 4.3rem; }

        .flexContainer { 
            flex-direction: row-reverse; 
            justify-content: space-between;
        }

        .headerImgContainer {
            margin-right: 0;
            right: 15px;
            top: 60px;
            img { box-shadow: 13px 13px 0 $white; }
        }

        .textImage {
            height: 74%;
            bottom: 36%;
        }
    }

    // ABOUT SECTION:
    .about {
        padding-top: 10%;
        .flexContainer { 
            justify-content: flex-start;
            .aboutText { width: 58%; }
        }
    }

    // BLOG SECTION:
    .blogPostSection {
        .flexContainer { flex-wrap: wrap; }
        .blogTwo.flexContainer { flex-direction: column-reverse; }
        // Width img/text Containers
        .blogText, .imgContainer { width: 100%; }
    }

    // Blog one layout
    .blogOne {
        .imgContainer { justify-content: flex-end; }

        img { box-shadow: 20px 15px $secondary, -100px 15px $secondary; }

        .blogOneText { 
            padding: 5% 0;
            p { text-align: right; }
            align-items: flex-end;
            .btn { align-self: flex-end; }
        }
    }

    // Blog two layout
    .blogTwo {
        margin-top: 0;
        .blogTwoText { 
            padding: 15% 0 8%;
            p { text-align: left; }
            .btn { align-self: flex-start; }
        }
        img { height: auto; }
    }

    // GALLERY SECTION:
    .gallery {
        ul {
            padding: 60px 0;
            li { width: calc((100% / 2) - 1.5%); }
            .img1 { margin: 0 1.5% 3% 0; }
            .img2 { margin: 0 0 3% 1.5%; }
            .img3 { 
                width: 100%;
                margin: 0;
                img {
                    width: inherit;
                    height: 280px;
                }
            }
        }
    }
}

/**************************************/
/* 1st SMALL BREAK POINT              */
/**************************************/
@media (max-width: 620px) {
    // HEADER:
    .homeHeader {
        h2 { font-size: 3.6rem; }
        .headerImgContainer { width: 38%; }

        .textImage {
            height: 72%;
            bottom: 32%;
            left: 74%;
        }
    }

    // ABOUT SECTION:
    .about {
        padding: 12% 0 10%;
        .flexContainer .aboutText { width: 100%; }
    }

    // WEBLINKS SECTION:
    .webLinks ul {
        padding: 40px 0 70px;
        .photosIcon, .blogIcon { margin-right: 0; }
        .aboutIcon, .contactIcon { margin-left: 0; }
        li {
            width: 100%;
            padding: 20px 0px 20px 8px;
            margin-bottom: 3%;

            a { margin-left: 48px; }
        }
    }

    // JOURNEY SECTION:
    .journeySection {
        padding: 60px 0;
        .flexContainer { flex-direction: column; }
    
        .journeyImage {
            width: 60%;
            min-width: 200px;
            align-self: center;
            margin-bottom: 12%;
        }
    
        .journeyImage img, .journeyText { width: 100%; }

        .journeyText {
            margin-left: 0;
            text-align: center;
        }
    }
}

/**************************************/
/* 1st SMALL BREAK POINT FOR HEIGHT */
/**************************************/
@media (max-height: 600px) {
    .homeHeader { max-height: 100vh; }
}

/**************************************/
/* 2nd SMALL BREAK POINT:             */
/**************************************/
@media (max-width: 568px) {
    // Header
    .homeHeader {
        .flexContainer { flex-direction: column-reverse; }
        .headerImgContainer {
            align-self: flex-end;
            top: 40px;
            width: 45%;
            min-width: 180px;
        }

        .headerTitle { 
            position: relative;
            top: 30px;
            align-self: flex-start; 
        }
    }
}

/**************************************/
/* 3rd BIG BREAK POINT:               */
/* Landscape Phones and Down          */
/**************************************/
@media (max-width: 480px) {
    // Typography
    body {
        font-size: 0.82rem;
        line-height: 1.3rem;
    }

    h3 { font-size: 1.65rem;}

    // ABOUT SECTION:
    .about { padding-top: 20%; }

    // BLOG SECTION:
    .blogPostSection {
        .blogText { 
            align-items: center;
            .btn { align-self: center; }
        }
    }

    .blogOne {
        .blogOneText p { text-align: justify; }
    }

    .blogTwo {
        .blogTwoText {
            padding-top: 80px;
            p { text-align: justify; }
        }
    }

    // GALLERY SECTION:
    .gallery {
        ul {
            padding: 35px 0;
            li { width: 100%; }
            .img { 
                margin: 1.5% 0; 
                img {
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }

    // FOOTER:
    .footer { font-size: 0.72rem; }
}

/**************************************/
/* 3rd SMALL BREAK POINT              */
/**************************************/
@media (max-width: 350px) {
    // HEADER: 
    .homeHeader {
        h2 { font-size: 3.2rem; }

        .headerImgContainer {
            width: 50%;
            top: 20px;
            right: 0;
        }

        .headerImgContainer, .headerTitle { align-self: center;}

        .headerTitle { top: 10px; }
        .textImage {
            height: 60%;
            bottom: 38%;
            left: 74%;
        }
    }
}

/**************************************/
/* 2nd SMALL BREAK POINT FOR HEIGHT   */
/**************************************/
@media (max-height: 320px) {
    // Header 
        .homeHeader {
            max-height: 80vh;
            h2 { font-size: 3rem; }
    
            .headerImgContainer {
                width: 30%;
                top: -100px;
            }

            .headerTitle { top: 60px; }

            .textImage { 
                height: 60%;
                bottom: 38%;
                left: 74%; 
            }
        }

        .about { padding-top: 13%; }
}