@use 'variables' as *;

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    // Header
    .homeHeader {
        height: 80vh;

        h2 {
            font-size: 5.2rem;
        }

        .headerText {
            .textImage {
                height: 95%;
                position: absolute;
                // top: -40px;
                // left: 325px;
                top: -26%;
                left: 75%;
            }
        }


    }
}

@media (max-height: 800px) and (max-width: 450px) {
    .homeHeader {
        height: auto;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    // wrapper
    .wrapper {
        width: 90%;
    }

    // Nav Slide-Out Menu //
    nav {
        line-height: 1.8rem;
        label[for="toggle"] {
            display: block;
            position: fixed;
            right: 7.5%;
            top: 10px;
            z-index: 10;
    
            i.fa-bars {
                font-size: 2rem;
                color: $tertiary;
            }
        }
        input[type="checkbox"]:checked+ul.slideOutMenu {
            right: 0px;
        }
    }
    
    ul.slideOutMenu {
        width: 58%;
        color: $whiteShade;
        background: $secondary;
        border: 3px solid $accent;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        right: -60%;
        top: 100px;
        z-index: 10;
        transition: all 0.6s;
    
        h1 {
            font-size: 2.3rem;
            line-height: 2.5rem;
        }

        li {
            width: 100%;
        }
    
        a {
            width: inherit;
            padding: 25px 0;
            font-size: 1.8rem;
            text-align: center;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
    
            &:hover,
            &:focus {
                background-color: $tertiary;
                border-top: 2px solid $primary;
                border-bottom: 2px solid $primary;
            }
        }
    }

    // Header
    .homeHeader {
        // height: 75vh;
        .headerText {
            // margin: 0;
            // justify-content: center;
            // align-content: center;
            
    
            h2 {
                font-size: 4.5rem;
            }
    
            .textImage {
                height: 87%;
                top: -20%;
                left: 74%;
            }
    
        }
    }
    

    // About Section
    .about {
        .flexContainer {
            flex-direction: column;
            
            .aboutImgContainer {
                border: 2px solid red;
                img {
                    position: relative;
                    bottom: 100px;
                }
            }

            .aboutText {
                width: 100%;
            }
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {}