@use './variables' as *;

.journey {
    padding: 120px 0 80px;

    .journeyImage {
        width: 25%;
        min-width: 250px;
        img {
            height: auto;
            box-shadow: 15px 15px $tertiary;
        }
    }

    .journeyText {
        width: calc(75% - 8%);
        margin-left: 8%; 
        p { margin: 25px 0 30px; }
    }
}