@use './variables' as *;

// Harper's Journey & Gallery Section Styles in Home Page
.journeySection {
    padding: 120px 0 80px;

    .journeyImage {
        width: 25%;
        min-width: 250px;
        img { box-shadow: 15px 15px $tertiary; }
    }

    .journeyText {
        width: calc(75% - 8%);
        margin-left: 8%; 
        p { margin: 25px 0 30px; }
    }
}

// Gallery Section Styles in Home Page
.gallery ul {
    padding: 80px 0;
    li { width: calc((100% / 3) - 2%); }
    .img1 { margin-right: 2%; }
    .img2 { margin: 0 1%; }
    .img3 { margin-left: 2%; }
}