@use './variables' as *;

.blogPostMain {
    background-color: $whiteShade;
    padding: 80px 0 95px;

    .leftColumn {
        width: calc(33% - 1.5%);
        margin-right: 1.5%;
    }

    .rightColumn {
        width: calc(67% - 1.5%);
        margin-left: 1.5%;
    }
}

.card {
    background-color: $white;
    padding: 35px;
}


.aboutHarper {
    width: 100%;
    margin-bottom: 5%;
    a {
        padding: 20px 0 15px;
        &:hover h5, &:focus h5 { color: $accent; }
    }
}

.recentPosts {
    width: 100%;
    h5 { margin-bottom: 15px; }
    .posts { 
        padding-left: 25px;
        li {
            padding: 10px 0 0 8px; 
            line-height: 1rem;
        }
        a {
            display: inline;

            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }
}

.article {
    background-color: $white;
    padding-bottom: 30px;
    border-bottom: 4px solid $tertiary;
    margin-bottom: 2%;
    h4 { margin-bottom: 10px; }
    p { margin-bottom: 15px; }
}

.postedComments {
    .userPost {
        margin: 3.5% 0;
        img {
            width: calc(12% - 10px);
            margin-right: 10px;
        }
        .commentText {
            width: calc(88% - 10px);
            margin-left: 10px;
        }
    }
}

.userPost:nth-child(even) { border-bottom: 4px solid $tertiary; }

.commentForm {
    input {
        width: calc((100% / 2) - 4px);
        padding: 25px 30px;
        border: none;
        font-family: $bodyFont;
    }
    input[type="text"] {
        margin-right: 2px;
    }
    input[type="email"] {
        margin-left: 2px;
    }
    .flexContainer {
        flex-direction: column;

        textarea {
            border: none;
            margin: 17px 0;
            padding: 35px 30px; 
            font-family: $bodyFont;
            resize: none;
        }

        button { padding: 7px; }
    }
}