@use './variables' as *;

nav {
    background-color: $primary;
    ul {
        justify-content: center;
        align-items: center;
        gap: 0 0.8rem;

        .logo {
            margin: 0 0.9rem;
        }

        li {
            a {
                padding: 0.7rem;
            
                &:hover,
                &:focus {
                    color: $whiteShade;
                }
            }

            &:first-child a {
                color: $whiteShade;

                &:hover,
                &:focus {
                    color: $black;
                }
            }
        }
    }
}