@use './variables' as *;

// Navigation Bar Styles (home, blog & contact page)
nav {
    height: 66px;
    ul {
        justify-content: center;
        align-items: center;
        gap: 20px;

        .logo { margin: 0 10px; }

        a {
            padding: 15px;

            &:hover, &:focus { color: $whiteShade; }
        }
    }
}

