@use './variables' as *;

// Navigation Bar Styles (home, blog & contact page)
nav {
    height: 66px;
    ul {
        justify-content: center;
        align-items: center;
        li { 
            margin-right: 25px; 
            a {
                padding: 15px;
                &:hover,
                &:focus {
                    color: $whiteShade;
                }
            }
        }
    }
}
