@use './variables' as *;

// Root Font Size
html { font-size: 125%; }

// Body Font Styles
body {
    font-family: $bodyFont;
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: $black;
    letter-spacing: 0px;
}

// Heading Styles
nav, h1, h2, h3, h4, h5, .btn {
    font-family: $headingFont;
    letter-spacing: 1px;
}

nav { line-height: 1.45rem; }


h1 { 
    font-size: 1.65rem;
    line-height: 1.8rem; 
}

.headerText h2 { 
    font-size: 6.2rem;
    line-height: 6.4rem;
}

.blogPostHeader h2,
.contactHeader h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
}

h3 { 
    font-size: 1.8rem;
    line-height: 1.6rem; 
}

h4 { font-size: 1.4rem; }

h5 { font-size: 1.2rem; }