
/* site fonts */
$headingFont: "Oswald", sans-serif;
$bodyFont: "Cabin", sans-serif;

/* site colours */
$primary: #b9dde7;
$secondary: #68b0c1;
$tertiary: #227284;
$accent: #f38d8d;
$black: #171717;
$whiteShade: #f6f6f6;
$white: #fff;

