@use './variables' as *;

// Web Links Section Styles in Home Page
.webLinks {
    img { min-height: 180px; }
    
    // Icon Links Styles
    ul {
        padding: 50px 0 110px;
        .photosIcon, .blogIcon { margin-right: 10px; }
        .aboutIcon, .contactIcon { margin-left: 10px; }
    
        li {
            width: calc((100% / 2) - 10px);
            padding: 20px 0 20px 60px;

            a {
                padding-bottom: 5px;
                margin-bottom: 10px;
                border-bottom: 4px solid transparent;
                .icon {
                    font-size: 0.92rem;
                    text-align: center;
                    padding: 13px;
                    border-radius: 50%;
                    top: 15px;
                    left: 0;
                }

                &:hover, &:focus { border-bottom: 4px solid $accent; }
            }
        }
    }
}