/* site fonts */
/* site colours */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
.form input,
.form textarea {
  font-family: "Cabin", sans-serif;
}

body {
  font-size: 0.85rem;
  line-height: 1.5rem;
  color: #171717;
  letter-spacing: 0px;
}

nav,
h1,
h2,
h3,
h4,
h5,
.btn,
.emailBold {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

nav {
  line-height: 1.45rem;
}

h1 {
  font-size: 1.65rem;
  line-height: 1.8rem;
}

.headerTitle h2 {
  font-size: 6.2rem;
  line-height: 6.4rem;
}

.blogPageHeader h2,
.contactHeader h2 {
  font-size: 3.6rem;
  line-height: 4.2rem;
  bottom: -35px;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p,
nav,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
button,
input {
  margin: 0;
  padding: 0;
}

ul:not(.posts) {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a, button {
  cursor: pointer;
}

.btn {
  background-color: #f38d8d;
  text-align: center;
  border: 3px solid transparent;
}
.btn:hover, .btn:focus {
  background-color: #f6f6f6;
  border: 3px solid #f38d8d;
}
.btn.bigButton {
  padding: 2px 32px;
}
.btn.smallButton {
  padding: 2px 20px;
}

nav, .homeHeader, .icon {
  background-color: #b9dde7;
}

.about,
.webLinks,
.journeySection,
.blogPageMain,
.contactMain {
  background-color: #f6f6f6;
}

.imgContainer,
.blogText,
.card,
.article,
.contactInfoCard {
  background-color: #fff;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogText, .form .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.webLinks ul, .gallery ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

label[for=toggle], input[type=checkbox] {
  display: none;
}

.headerImgContainer,
.headerTitle,
.webLinks li,
.imgContainer img,
.blogTitle,
.contactTitle {
  position: relative;
}

.textImage, .icon, .blogTitle h2, .contactTitle h2 {
  position: absolute;
}

.form input,
.form textarea {
  border: none;
}
.form input:focus,
.form textarea:focus {
  background: rgba(185, 221, 231, 0.3);
}
.form input {
  padding: 25px 30px;
}
.form textarea {
  margin: 17px 0;
  padding: 35px 30px;
  resize: none;
}
.form button {
  padding: 7px;
}

nav {
  height: 66px;
}
nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
nav ul .logo {
  margin: 0 10px;
}
nav ul a {
  padding: 15px;
}
nav ul a:hover, nav ul a:focus {
  color: #f6f6f6;
}

.homeHeader {
  max-height: 77vh;
}
.homeHeader .flexContainer {
  gap: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.homeHeader .headerImgContainer {
  width: 38%;
  top: 30px;
}
.homeHeader .headerImgContainer img {
  -webkit-box-shadow: 16px 16px 0 #fff;
          box-shadow: 16px 16px 0 #fff;
}
.homeHeader .textImage {
  left: 76%;
  bottom: 33%;
}

.about {
  padding: 7% 0;
}
.about .flexContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.about .flexContainer .aboutText {
  width: 53%;
}
.about .flexContainer .aboutText p {
  margin: 20px 0;
}

.webLinks img {
  min-height: 180px;
}
.webLinks ul {
  padding: 50px 0 110px;
}
.webLinks ul .photosIcon, .webLinks ul .blogIcon {
  margin-right: 10px;
}
.webLinks ul .aboutIcon, .webLinks ul .contactIcon {
  margin-left: 10px;
}
.webLinks ul li {
  width: calc(50% - 10px);
  padding: 20px 0 20px 60px;
}
.webLinks ul li a {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 4px solid transparent;
}
.webLinks ul li a .icon {
  font-size: 0.92rem;
  text-align: center;
  padding: 13px;
  border-radius: 50%;
  top: 15px;
  left: 0;
}
.webLinks ul li a:hover, .webLinks ul li a:focus {
  border-bottom: 4px solid #f38d8d;
}

.blogPostSection .imgContainer, .blogPostSection .blogText {
  width: 50%;
}
.blogPostSection p {
  margin: 20px 0 25px;
}

.blogOne img {
  bottom: 35px;
  -webkit-box-shadow: 15px 15px #68b0c1, -100px 15px #68b0c1;
          box-shadow: 15px 15px #68b0c1, -100px 15px #68b0c1;
}
.blogOne .blogOneText {
  padding: 85px 0 20px 9%;
}
.blogOne .blogOneText .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blogTwo {
  margin-top: 20px;
}
.blogTwo .blogTwoText {
  padding: 20px 9% 85px 0;
}
.blogTwo .blogTwoText .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.blogTwo img {
  top: 25px;
  -webkit-box-shadow: 15px 15px #b9dde7, 100px 15px #b9dde7;
          box-shadow: 15px 15px #b9dde7, 100px 15px #b9dde7;
}

.journeySection {
  padding: 120px 0 80px;
}
.journeySection .journeyImage {
  width: 25%;
  min-width: 250px;
}
.journeySection .journeyImage img {
  height: auto;
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}
.journeySection .journeyText {
  width: 67%;
  margin-left: 8%;
}
.journeySection .journeyText p {
  margin: 25px 0 30px;
}

.gallery ul {
  padding: 80px 0;
}
.gallery ul li {
  width: 31.3333333333%;
}
.gallery ul .img1 {
  margin-right: 2%;
}
.gallery ul .img2 {
  margin: 0 1%;
}
.gallery ul .img3 {
  margin-left: 2%;
}

.footer {
  background-color: #171717;
  padding: 5px 0;
  color: #f6f6f6;
  text-align: center;
}

.blogPageMain {
  padding: 80px 0 95px;
}
.blogPageMain .leftColumn {
  width: 31.5%;
  margin-right: 1.5%;
}
.blogPageMain .rightColumn {
  width: 65.5%;
  margin-left: 1.5%;
}

.card {
  padding: 35px;
}

.aboutHarper, .recentPosts {
  width: 100%;
}

.aboutHarper {
  margin-bottom: 15px;
}
.aboutHarper a {
  padding: 20px 0 15px;
}
.aboutHarper a:hover h5, .aboutHarper a:focus h5 {
  color: #f38d8d;
}

.recentPosts h5 {
  margin-bottom: 15px;
}
.recentPosts .posts {
  padding-left: 25px;
}
.recentPosts .posts li {
  padding: 10px 0 0 8px;
  line-height: 1rem;
}
.recentPosts .posts a {
  display: inline;
}
.recentPosts .posts a:hover, .recentPosts .posts a:focus {
  color: #f38d8d;
}

.article {
  padding-bottom: 30px;
  border-bottom: 4px solid #227284;
  margin-bottom: 2%;
}
.article h4 {
  margin-bottom: 10px;
}
.article p {
  margin-bottom: 15px;
}

.postedComments .userPost {
  margin: 3.5% 0;
}
.postedComments .userPost img {
  width: calc(12% - 10px);
  margin-right: 10px;
}
.postedComments .userPost .commentText {
  width: calc(88% - 10px);
  margin-left: 10px;
}
.postedComments .userPost:nth-child(even) {
  border-bottom: 4px solid #227284;
}

.commentForm input {
  width: calc(50% - 4px);
}
.commentForm input[type=text] {
  margin-right: 2px;
}
.commentForm input[type=email] {
  margin-left: 2px;
}

.contactMain {
  min-height: 100vh;
  padding: 80px 0;
}
.contactMain aside {
  width: 29%;
  margin-right: 1%;
}
.contactMain aside .contactInfoCard {
  padding: 35px 30px;
}
.contactMain aside .emailBold {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 10px 0;
}
.contactMain aside .address {
  font-size: 0.82rem;
  line-height: 1.4rem;
}

.mediaLinks {
  color: #227284;
}
.mediaLinks li {
  margin-right: 12%;
}
.mediaLinks li a {
  border: 1px solid transparent;
}
.mediaLinks li a:hover, .mediaLinks li a:focus {
  border: 1px solid transparent;
  color: #f38d8d;
}

.contactForm {
  width: 68%;
  margin-left: 2%;
}
.contactForm input {
  width: calc(50% - 8px);
}
.contactForm input[type=text] {
  margin-right: 4px;
}
.contactForm input[type=email] {
  margin-left: 4px;
}

/**************************************/
/* 1st BIG BREAK POINT:               */
/* Portrait Tablet and Small Desktops */
/**************************************/
@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
  .homeHeader h2 {
    font-size: 5rem;
  }
  .homeHeader .flexContainer {
    gap: 12%;
  }
  .homeHeader .textImage {
    height: 84%;
  }
}
/**************************************/
/* 2nd BIG BREAK POINT:               */
/* Landscape Phone to Portrait Tablet */
/**************************************/
@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  label[for=toggle] {
    display: block;
    position: fixed;
    right: 2.5%;
    top: 10px;
    z-index: 10;
  }
  label[for=toggle] i.fa-bars {
    font-size: 1.65rem;
  }
  label[for=toggle]:hover, label[for=toggle]:focus {
    color: #f38d8d;
  }
  input[type=checkbox]:checked + ul.slideOutMenu {
    right: 0;
  }
  ul.slideOutMenu {
    width: 100%;
    max-width: 450px;
    background: #68b0c1;
    border: 2px solid #f6f6f6;
    -webkit-box-shadow: 2px 2px #f38d8d, -2px -2px #f38d8d, -2px 2px #f38d8d;
            box-shadow: 2px 2px #f38d8d, -2px -2px #f38d8d, -2px 2px #f38d8d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    position: fixed;
    right: -500px;
    top: 55px;
    z-index: 100;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  ul.slideOutMenu h1 {
    font-size: 2rem;
  }
  ul.slideOutMenu li, ul.slideOutMenu a {
    width: inherit;
  }
  ul.slideOutMenu a {
    padding: 25px 0;
    font-size: 1.8rem;
    text-align: center;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  ul.slideOutMenu a:hover, ul.slideOutMenu a:focus {
    background-color: #227284;
    border-top: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
  }
  .homeHeader h2 {
    font-size: 4.3rem;
  }
  .homeHeader .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homeHeader .headerImgContainer {
    right: 15px;
    top: 60px;
  }
  .homeHeader .headerImgContainer img {
    -webkit-box-shadow: 13px 13px 0 #fff;
            box-shadow: 13px 13px 0 #fff;
  }
  .homeHeader .textImage {
    height: 74%;
    bottom: 36%;
  }
  .about {
    padding-top: 10%;
  }
  .about .flexContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .about .flexContainer .aboutText {
    width: 58%;
  }
  .blogPostSection .flexContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogPostSection .blogTwo.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogPostSection .blogText, .blogPostSection .imgContainer {
    width: 100%;
  }
  .blogOne .imgContainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .blogOne img {
    -webkit-box-shadow: 20px 15px #68b0c1, -100px 15px #68b0c1;
            box-shadow: 20px 15px #68b0c1, -100px 15px #68b0c1;
  }
  .blogOne .blogOneText {
    padding: 5% 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .blogOne .blogOneText p {
    text-align: right;
  }
  .blogOne .blogOneText .btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .blogTwo {
    margin-top: 0;
  }
  .blogTwo .blogTwoText {
    padding: 15% 0 8%;
  }
  .blogTwo .blogTwoText p {
    text-align: left;
  }
  .blogTwo .blogTwoText .btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .gallery ul {
    padding: 60px 0;
  }
  .gallery ul li {
    width: 48.5%;
  }
  .gallery ul .img1 {
    margin: 0 1.5% 3% 0;
  }
  .gallery ul .img2 {
    margin: 0 0 3% 1.5%;
  }
  .gallery ul .img3 {
    width: 100%;
    margin: 0;
  }
  .gallery ul .img3 img {
    width: inherit;
    height: 280px;
  }
}
/**************************************/
/* 1st SMALL BREAK POINT              */
/**************************************/
@media (max-width: 620px) {
  .homeHeader h2 {
    font-size: 3.6rem;
  }
  .homeHeader .headerImgContainer {
    width: 38%;
  }
  .homeHeader .textImage {
    height: 72%;
    bottom: 32%;
    left: 74%;
  }
  .about {
    padding: 12% 0 10%;
  }
  .about .flexContainer .aboutText {
    width: 100%;
  }
  .webLinks ul {
    padding: 40px 0 70px;
  }
  .webLinks ul .photosIcon, .webLinks ul .blogIcon {
    margin-right: 0;
  }
  .webLinks ul .aboutIcon, .webLinks ul .contactIcon {
    margin-left: 0;
  }
  .webLinks ul li {
    width: 100%;
    padding: 20px 0px 20px 8px;
    margin-bottom: 3%;
  }
  .webLinks ul li a {
    margin-left: 48px;
  }
  .journeySection {
    padding: 60px 0;
  }
  .journeySection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journeySection .journeyImage {
    width: 60%;
    min-width: 200px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 12%;
  }
  .journeySection .journeyImage img, .journeySection .journeyText {
    width: 100%;
  }
  .journeySection .journeyText {
    margin-left: 0;
    text-align: center;
  }
}
/**************************************/
/* 1st SMALL BREAK POINT FOR HEIGHT */
/**************************************/
@media (max-height: 600px) {
  .homeHeader {
    max-height: 100vh;
  }
}
/**************************************/
/* 2nd SMALL BREAK POINT:             */
/**************************************/
@media (max-width: 568px) {
  .homeHeader .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .homeHeader .headerImgContainer {
    -ms-flex-item-align: end;
        align-self: flex-end;
    top: 40px;
    width: 45%;
    min-width: 180px;
  }
  .homeHeader .headerTitle {
    position: relative;
    top: 30px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/**************************************/
/* 3rd BIG BREAK POINT:               */
/* Landscape Phones and Down          */
/**************************************/
@media (max-width: 480px) {
  body {
    font-size: 0.82rem;
    line-height: 1.3rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  .about {
    padding-top: 20%;
  }
  .blogPostSection .blogText {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogPostSection .blogText .btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blogOne .blogOneText p {
    text-align: justify;
  }
  .blogTwo .blogTwoText {
    padding-top: 80px;
  }
  .blogTwo .blogTwoText p {
    text-align: justify;
  }
  .gallery ul {
    padding: 35px 0;
  }
  .gallery ul li {
    width: 100%;
  }
  .gallery ul .img {
    margin: 1.5% 0;
  }
  .gallery ul .img img {
    width: 100%;
    height: 250px;
  }
  .footer {
    font-size: 0.72rem;
  }
}
/**************************************/
/* 3rd SMALL BREAK POINT              */
/**************************************/
@media (max-width: 350px) {
  .homeHeader h2 {
    font-size: 3.2rem;
  }
  .homeHeader .headerImgContainer {
    width: 50%;
    top: 20px;
    right: 0;
  }
  .homeHeader .headerImgContainer, .homeHeader .headerTitle {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .homeHeader .headerTitle {
    top: 10px;
  }
  .homeHeader .textImage {
    height: 60%;
    bottom: 38%;
    left: 74%;
  }
}
/**************************************/
/* 2nd SMALL BREAK POINT FOR HEIGHT   */
/**************************************/
@media (max-height: 320px) {
  .homeHeader {
    max-height: 80vh;
  }
  .homeHeader h2 {
    font-size: 3rem;
  }
  .homeHeader .headerImgContainer {
    width: 30%;
    top: -100px;
  }
  .homeHeader .headerTitle {
    top: 60px;
  }
  .homeHeader .textImage {
    height: 60%;
    bottom: 38%;
    left: 74%;
  }
  .about {
    padding-top: 13%;
  }
}
/**************************************/
/* 1st BIG BREAK POINT:               */
/* Portrait Tablet and Small Desktops */
/**************************************/
@media (max-width: 940px) {
  .blogPageHeaderImage,
.contactHeaderImage {
    height: 230px;
  }
  .blogPageHeader h2 {
    font-size: 3rem;
  }
  .blogPageMain {
    padding: 65px 0 15%;
  }
  .blogPageMain .wrapper.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogPageMain .rightColumn {
    margin-bottom: 10%;
  }
  .blogPageMain .leftColumn,
.blogPageMain .rightColumn {
    width: 100%;
    margin: 0;
  }
  .leftColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutHarper {
    width: 48%;
    margin: 10% 2% 0 0;
  }
  .aboutHarper img {
    width: 100%;
    height: 250px;
  }
  .recentPosts {
    width: 48%;
    margin: 10% 0 0 2%;
    height: 65%;
  }
  .postedComments .userPost.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .postedComments .userPost img {
    width: 70px;
    margin: 0 0 15px 0;
  }
  .postedComments .userPost .commentText {
    margin-left: 0;
    width: 100%;
  }
  .commentForm input {
    width: 100%;
  }
  .commentForm input[type=text] {
    margin: 5% 0 1.5% 0;
  }
  .commentForm input[type=email] {
    margin: 1.5% 0 0 0;
  }
}
/**************************************/
/* 2nd BIG BREAK POINT:               */
/* Landscape Phone to Portrait Tablet */
/**************************************/
@media (max-width: 768px) {
  .blogPageHeader nav,
.contactHeader nav {
    height: 52px;
  }
  .card {
    padding: 25px;
  }
  .leftColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutHarper,
.recentPosts {
    width: 75%;
  }
  .aboutHarper,
.recentPosts {
    margin: 10% 0 0 0;
  }
  .aboutImage img {
    height: 335px;
  }
}
/**************************************/
/* 3rd BIG BREAK POINT:               */
/* Landscape Phones and Down          */
/**************************************/
@media (max-width: 480px) {
  .blogPageMain h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  .card {
    padding: 20px;
  }
  .aboutHarper, .recentPosts {
    width: 100%;
  }
}
/**************************************/
/* 1st SMALL BREAK POINT              */
/**************************************/
@media (max-width: 400px) {
  .aboutImage img {
    height: 230px;
  }
}
/**************************************/
/* 1st BIG BREAK POINT:               */
/* Landscape Phone to Portrait Tablet */
/**************************************/
@media (max-width: 768px) {
  .contactHeader h2 {
    font-size: 3rem;
  }
  .contactMain .wrapper.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactMain aside {
    width: 100%;
    margin: 6% 0 0 0;
  }
  .contactMain aside .contactInfoCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mediaLinks.flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5px;
  }
  .mediaLinks.flexContainer li {
    text-align: center;
    margin: 0;
  }
  .contactForm {
    width: 100%;
    margin-left: 0;
  }
}
/**************************************/
/* 2nd BIG BREAK POINT:               */
/* Landscape Phones and Down          */
/**************************************/
@media (max-width: 480px) {
  .contactHeader h2 {
    font-size: 2.5rem;
  }
  .contactMain {
    padding: 50px 0 40px;
  }
  .contactMain aside .contactInfoCard {
    margin-top: 3%;
    padding: 45px 20px;
  }
  .contactMain aside .emailBold {
    font-size: 0.86rem;
    margin: 7px 0;
  }
  .contactMain aside .address {
    font-size: 0.76rem;
    line-height: 1.3rem;
  }
  .contactForm input {
    width: 100%;
    padding: 15px 20px 30px;
  }
  .contactForm input[type=text] {
    margin: 0 0 3% 0;
  }
  .contactForm input[type=email] {
    margin-left: 0;
  }
  .contactForm input, .contactForm textarea {
    font-size: 0.78rem;
  }
  .contactForm .flexContainer textarea {
    padding: 20px 20px 45px;
  }
}
/* 1st SMALL BREAK POINT              */
/**************************************/
@media (max-width: 350px) {
  .contactHeader h2 {
    font-size: 2.25rem;
  }
}